%header.jumbotron
  %h1
    %span.text-quiet Exception /
    %span Filters

.row
  .span12
    = form(url("filters"), :create, {:class => 'simple_form form-vertical', :id => "new_filter", :novalidate => 'novalidate'})
    = haml 'filters/form'.to_sym
    .form-actions
      = submit('Create Filter', {:class => 'btn btn-info'})
      %a{:class => 'btn btn-danger', :href => back}
        %i{:class => 'icon-ban-circle'}
        Cancel
    = '</form>'
