!!!
%html
  %head
    %title Flail
    %link{:rel => 'stylesheet', :href => url('css/bootstrap.css') }
    %link{:rel => 'stylesheet', :href => url('css/bootstrap-responsive.css') }
    -# = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:href => url('/'), :class => 'brand'} flail
          %ul.nav.pull-right
            %li{:class => params[:controller] == 'web_hooks' ? 'active' : ''}
              %a{:href => url('/web_hooks')} web hooks
          %ul.nav.pull-right
            %li{:class => params[:controller] == 'filters' ? 'active' : ''}
              %a{:href => url('/filters')} filters
    %br
    %br
    .container
      .row
        .span12
          - if flash[:alert]
            .alert
              = flash[:alert]
          - if flash[:error]
            .alert.alert-danger
              = flash[:error]
          - if flash[:notice]
            .alert.alert-info
              = flash[:notice]

      = yield

      %footer.footer
        %blockquote
          %p You're doing it wrong.
          
    %script{:src => url('js/bootstrap.min.js') }
